.navbar {
  background-color: #00ccff !important;
  font-size: 30;
}

.navbar-brand {
  color: #ffff;
  font-weight: bolder;
  font-size: 1.3em;
}

.navbar .nav-link {
  margin: 0 auto;
  color: #ffff !important;
}

body {
  overflow: hidden;
  /* Hide scrollbars */
}

#myMap {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.boton {
  position: fixed;
  background-color: transparent;
  border: none;
  outline: 0 !important;s

}

.boton#boton1 {
  right: 0px;
  bottom: 50px;
}

.boton#boton2 {
  right: 20px;
  bottom: 220px;
}

.navbar .nav-link#presentacion {
  position: fixed;
  float: right;
  right: 20px;
  top: 8px;
}

#casilla {
  border-radius: 10px;
  padding: 10px;
  font-size: 50px;
  outline: none;
  border: none;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  height: 150px;
  width: 300px;
}

#presentacion {
  font-size: 30px;
  color: #ffff;
  position: fixed;
  float: right;
    top: 7px;
  right: 10px;
  outline: 0 !important;
  z-index: 1;
}

#informe {
  position: inherit;
  left: 50px;
  bottom: 10px;
  border: 5px solid #000;
  border-radius: 35px;
}

.banner-content {
  background-color: transparent;
}

#lista {
  position: fixed;
  top: 90px;
  right: 10px;
  outline: 0 !important;
  z-index: 1;
}